.boxLink{
    text-decoration: none;
    color: black;
    display: block;
    width: 200px;
    height: 100px;
    border: 2px solid black;
    margin: 10px;
    text-align: center;
}
.boxLink:hover{
    background-color: lightgray;
}
